.form_div{
    display: flex;
    flex-direction: column;
}

.form_div label{
    margin-bottom: 10px;
}

.form_div label p{
    font-size: 12px;
}

.form_div input,
.form_div select,
.form_div option{
    font-size: 16px;
    font-weight: 600;
    width: 50%;
}

button{
    width: 50%;
}
