#table_wrapper{
    width: 100%;
   overflow-x: auto;
   background: rgba(0,0,0,0.03);
   border-radius: 10px;
}

table .head_tr td{
    font-weight: 600;
}

table td{
    padding: 10px 10px;
    text-align: center;
}

table td img{
    height: 15px;
    padding-left: 10px;
}

table tr td:nth-child(1){
    text-align: unset;
}