#introduction_div{
    margin: 10px;
    color: #d35400;
    background: #ffe8d6;
    border-radius: 10px;
    /* padding: 20px 10px; */
}

#group_links img{
    width: 35px;
    margin-right: 10px;
}

#group_links_links{
    display: flex;
    flex-direction: column;
}

#group_links_links a{
    text-decoration: none;
    color:black;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
}

#telegram_link_div{
    background: rgb(36, 170, 235, 0.5);
}

#whatsapp_link_div{
    background: rgb(76, 175, 80, 0.5);
}

.footer{
    text-align: center;
    font-size: 14px; 
}

.footer_p{
    margin-bottom: 10px;
}

.footer_p a{
    background: #ffe8d6;
    color: #d35400;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.footer_small{
    font-size: 10px;
}

#counter_wrapper{
    /* background: red; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    column-gap: 10px;
}

.count_outer{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffe8d6;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}

.count_inner p{
    font-size: 40px;
    font-weight: 600;
}

#calculations_wrapper{
    margin-top: 10px;
    background: #ffe8d6;
    padding: 10px;
    border-radius: 10px;
}