.syllabus_wrapper{
    width: 300px;
    height: 15px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.syllabus_progress{
    height: 100%;
    background: #FF770F;
    border-radius: 5px;
}

#table_wrapper{
    width: 100%;
    overflow-x: auto;
}

table .head_tr td{
    font-weight: 600;
}

table td{
    padding: 5px 5px;
}

table td img{
    height: 15px;
    padding-left: 10px;
}