#chapters_links{
    display: flex;
    flex-direction: column;
}

#chapters_links a{
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    color: #d35400;
    background: #ffe8d6;
    font-weight: 600;
}

#lecture_links{
    display: flex;
    flex-direction: column;
}

#lecture_links a{
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    color: #d35400;
    background: #ffe8d6;
    font-weight: 600;
}

#lecture_links .ll_head{
    font-weight: 600;
}

#lecture_links .ll_small_text{
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    flex-wrap: wrap;
}

#lecture_links .ll_small_text p{
    margin-right: 8px;
}