@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 14px;
  @apply bg-[#1F1F65] text-white;
  @apply sm:text-[16px];
  @apply leading-[1.2em];
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .dotted-background {
    background: radial-gradient(circle, #ffffff 25%, transparent 26%);
    background-size: 2em 2em;
    /* background-color: #0d00ff; */
    /* opacity: 0.2; */
    opacity: 0.5;
  }
}
.animate-loader-balls {
  animation-name: loaderballs;
  animation-timing-function: linear;
  animation-duration: 2s;
  transition: 1s ease-in-out;
  transform: scale(1.2);
  transform: scale(1.5);
  filter: blur(20px);
}

@keyframes loaderballs {
  0% {
    transform: scale(1.2);
    filter: blur(2px);
  }
  60%{
    transform: scale(1.4);
    filter: blur(10px);
  }
  100% {
    transform: scale(1.5);
    filter: blur(20px);
  }
}

.animate-loader-logo {
  animation-name: loaderlogo;
  animation-timing-function: linear;
  animation-duration: 2s;
  transition: 1s ease-in-out;
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

.animate-loader-dots{
  animation-name: loaderdots;
  animation-timing-function: linear;
  animation-duration: 2s;
  transition: 1s ease-in-out;
  transform: scale(1);
  filter: blur(15px);
}

@keyframes loaderlogo {
  0% {
    transform: scale(1.5) ;
    filter: blur(7px);
    opacity: 0;
  }
  60% {
    transform: scale(1.4);
    filter: blur(5px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes loaderdots {
  0% {
    transform: scale(1.5);
    filter: blur(0px);
  }
  60% {
    transform: scale(1.4);
    filter: blur(7.5px);
  }
  100% {
    transform: scale(1);
    filter: blur(15px);
  }
}